<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-6 px-5 px-sm-0">
      <h4 class="my-5 ml-4"><span class="px-4 title">商品一覧</span></h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-6 px-5 px-sm-0 text-right new-item">
      <p class="pt-5"><%= link_to "+", new_admin_item_path, class: "btn btn-outline-secondary" %></p>
    </div>
  </div>


      <table class="table order">
        <thead class="order-item">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id), class: "link-color" %></td>
            <td><%= item.price.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>


  <%= paginate @items %>

</div>