<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6 px-5 px-sm-0">
      <h4 class="my-5"><span class="px-4 title"><%= @customer.full_name %>さんの会員詳細</span></h4>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <strong>会員ID</strong>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 px-sm-0">
      <%= @customer.id %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <strong>氏名</strong>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 px-sm-0">
      <%= @customer.last_name %> <%= @customer.first_name %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <strong>フリガナ</strong>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 px-sm-0">
      <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <strong>郵便番号</strong>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 px-sm-0">
      <%= @customer.postal_code %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <strong>住所</strong>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 px-sm-0">
      <%= @customer.address %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <strong>電話番号</strong>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 px-sm-0">
      <%= @customer.telephone_number %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <strong>メールアドレス</strong>
    </div>
    <div class="col-sm-7 col-md-7 col-lg-5 px-sm-0">
      <%= @customer.email %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <strong>会員ステータス</strong>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <%= @customer.is_active %>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <p></p>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-success py-1 px-3" %>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 px-sm-0">
      <p></p>
    </div>
  </div>
</div>
