<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-9 col-md-9 col-lg-9 px-5 px-sm-0">
      <h4 class="mt-5 mb-3"><span class="px-4 title">注文履歴一覧</span></h4>
    </div>
  </div>
  <table>
    <tbody>
      <tr>
        <td class="pr-3"><strong>購入者</strong></td>
        <td class="pr-3"><%= @order.delivery_name %></td>
      </tr>
      <tr>
        <td class="pr-3"><strong>注文日</strong></td>
        <td class="pr-3"><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <td class="pr-3"><strong>配送先</strong></td>
        <td class="pr-3">
          〒<%= @order.shipping_zip_code %> <%= @order.shipping_address %></br>
          <%= @order.delivery_name %>
        </td>
      </tr>
      <tr>
        <td class="pr-3"><strong>支払方法</strong></td>
        <td class="pr-3"><%= @order.payment_method_i18n %></td>
      </tr>
      <%= form_with model: @order, url: admin_order_path(@order.id), local:true do |f| %>
      <tr>
        <td class="pr-3"><strong>注文ステータス</strong></td>
        <td class="pr-3 py-2">
          <%= f.select :received, options_for_select(Order.receiveds), class: "prefecture-select" %>

          <%= f.submit "更新", class: "btn btn-sm btn-success ml-3" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <table class="order">
    <thead class="order-item">
      <tr>
        <th class="pl-2 pr-5 py-2">商品名</th>
        <th class="pr-5 py-2">単価(税込)</th>
        <th class="pr-5 py-2">数量</th>
        <th class="pr-5 py-2">小計</th>
        <th class="px-2 py-2">製作ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @order.order_details.each do |order_detail| %>
      <tr>
        <td class="pl-2 pr-5 py-2"><%= order_detail.item.name %></td>
        <td class="pl-3 pr-5 py-2"><%= order_detail.price_detail.to_s(:delimited) %></td>
        <td class="pl-3 pr-5 py-2"><%= order_detail.amount %></td>
        <td class="pr-5 py-2"><%= order_detail.detail_price.to_s(:delimited) %></td>
        <%= form_with model: @order_detail, url: admin_order_detail_path(@order_detail.id), local:true do |f| %>
        <td class="px-2 py-2"><%= f.select :making_status, options_for_select(OrderDetail.making_statuses) %></td>
        <td class="px-2 py-2"><%= f.submit "更新", class: "btn btn-sm btn-success ml-3" %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>