<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6 px-5 px-sm-0">
      <h4 class="my-5 ml-4"><span class="px-4">ジャンル一覧・追加</span></h4>
    </div>
  </div>

  <%= form_with model:@genre, url: {controller: 'admin/genres', action: 'create' } , local:true do |f| %>
    <div class="row mb-5">
      <div class="col-sm-2 col-md-2 col-lg-2 px-5 px-sm-0 text-center">
        <label for="genre">ジャンル名</label>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3 px-5 px-sm-0">
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 px-5 px-sm-0 ml-5 ">
        <%= f.submit '新規登録', class: "btn btn-success new-genre" %>
      </div>
    </div
  <% end %>

  <div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5 px-5 px-sm-0 pl-5 genre pl-5">
      <strong>ジャンル</strong>
    </div>
  </div>

  <% @genres.each do |genre| %>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 px-5 px-sm-0 genre-item py-3">
      <%= genre.name %>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 px-5 px-sm-0 py-3 genre-item">
      <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success genre-edit" %>
    </div>
  </div>
  <% end %>