<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-sm-0">
      <h5 class="mt-4 mb-3 ml-4"><span class="px-4 title">注文情報入力</span></h5>
    </div>
  </div>
  <div class="table-style">
    <table>
      <thead>
        <tr>
          <th class="pl-2 pr-5 py-2 grid">商品名</th>
          <th class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 py-2 grid">単価(税込)</th>
          <th class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 py-2 grid">数量</th>
          <th class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 py-2 grid">小計</th>
        </tr>
      </thead>
      <tbody>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td class="pl-2 pr-5 grid-item">
            <%= attachment_image_tag cart_item.item, :image, class: "p-2 cart-item-image" %>
            <%= cart_item.item.name %>
          </td>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 grid-item"><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 grid-item"><%= cart_item.amount %></td>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 grid-item"><%= cart_item.subtotal.to_s(:delimited) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <table>
      <thead>
        <tr>
          <td class="pl-5 py-2"></th>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 py-2 grid">送料</th>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 py-2 grid-item">800</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="pl-5"></td>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 grid">商品合計</td>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 grid-item"><%= @total.to_s(:delimited) %></td>
        </tr>
        <tr>
          <td class="pl-5"></td>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 grid">請求金額</td>
          <td class="pl-2 pr-sm-3 pr-md-3 pr-lg-5 grid-item"><%= @total_price.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row my-4">
    <div class="col-sm-2 col-md-2 col-lg-1 px-sm-0">
      <h5 class="mr-2">支払方法</h5>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 px-sm-0">
      <%= @order.payment_method_i18n %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-2 col-md-2 col-lg-1 px-sm-0">
      <h5 class="mr-2">お届け先</h5>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 px-sm-0">
      <p>
        〒<%= @order.shipping_zip_code %><%= @order.shipping_address %></br>
        <%= @order.delivery_name %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
      <%= form_with model: @order, url: orders_path, method: :post, local:true do |f| %>
        <%= f.hidden_field :shipping_zip_code %>
        <%= f.hidden_field :delivery_name %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :billing, value: @total_price %>
        <%= f.submit "注文を確定する", class: "btn btn-success px-4" %>
      <% end %>
    </div>
  </div>
</div>

