<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-sm-0">
      <h5 class="mt-4 mb-3 ml-4"><span class="px-4 title">注文情報入力</span></h5>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th class="pl-2">注文日</th>
        <th class="pl-2">配送先</th>
        <th class="pl-2">注文商品</th>
        <th class="pl-2">支払金額</th>
        <th class="pl-2">ステータス</th>
        <th class="pl-2">注文詳細</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td class="pl-2 pr-5"><%= order.created_at.strftime("%Y/%m/%d") %></td>
        <td class="pl-2 pr-5">
          〒<%= order.shipping_zip_code %></br>
          <%= order.shipping_address %></br>
          <%= order.delivery_name %>
        </td>
        <td class="pl-2 pr-2">
          <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %>
          <% end %>
        </td>
        <td class="pl-2"><%= order.billing.to_i.to_s(:delimited) %>円</td>
        <td class="pl-2"></td>
        <td class="pl-3 pr-3"><%= link_to "表示する", order_path(order.id), class: "btn btn-primary" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

