<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-sm-0">
      <h5 class="mt-4 mb-3 ml-4"><span class="px-4 title">注文情報入力</span></h5>
    </div>
  </div>
  <%= form_with model: @order, local:true do |f| %>
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 px-sm-0">
      <h3>支払方法</h3>
      <%= f.radio_button :payment_method, "credit_card", class: "ml-5" %>
　　　<%= f.label :payment_method, "クレジットカード" %></br>
　　　<%= f.radio_button :payment_method, "transfer" %>
　　　<%= f.label :payment_method, "銀行振込" %>
　　　<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
　　</div>
　</div>
　<% end %>