<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-sm-0">
      <h5 class="mt-4 mb-3 ml-4"><span class="px-4 title">注文情報入力</span></h5>
    </div>
  </div>
  <%= form_with model: @order, url: orders_confirmation_path, method: :post, local:true do |f| %>
  <div class="row mb-2">
    <div class="col-sm-12 col-md-12 col-lg-10 px-sm-0">
      <h5>支払方法</h5>
      <%= f.radio_button :payment_method, "credit_card", class: "ml-4" %>
      <%= f.label :payment_method, "クレジットカード", class: "mb-0" %></br>
      <%= f.radio_button :payment_method, "transfer", class: "ml-4" %>
      <%= f.label :payment_method, "銀行振込", class: "mb-0" %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-10 col-md-10 col-lg-10 px-sm-0">
      <h5>お届け先</h5>
      <%= f.radio_button :address_name, 0, class: "ml-4" %>
      <%= f.label :customer_id, "ご自身の住所", class: "mb-0" %>
      <p class="ml-5">〒<%= @customer.postal_code %> <%= @customer.address %></p>
      <p class="ml-5"><%= @customer.full_name %></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-sm-10 col-md-10 col-lg-10 px-sm-0">
      <%= f.radio_button :address_name, 1, class: "ml-4" %>
      <%= f.label :address_id, "登録済みの住所から選択", class: "mb-0" %></br>
      <p class="ml-5"><%= f.select :address_id, options_from_collection_for_select(Addresse.all, :id, :full_address) %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-10 px-sm-0">
      <%= f.radio_button :address_name, 2, class: "ml-4" %>
      <%= f.label :address, "新しいお届け先", class: "mb-0" %></br>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-5 col-md-3 col-lg-3 px-sm-0">
      <p class="pl-5">郵便番号(ハイフンなし)</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 px-sm-0">
      <%= f.text_field :shipping_zip_code %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-5 col-md-3 col-lg-3 px-sm-0">
      <p class="pl-5">住所</p>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-5 px-sm-0">
      <%= f.text_field :shipping_address, class: "new" %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-5 col-md-3 col-lg-3 px-sm-0">
      <p class="pl-5">宛名</p>
    </div>
    <div class="col-sm-5 col-md-4 col-lg-4 px-sm-0">
      <%= f.text_field :delivery_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-11 col-lg-10 px-sm-0">
      <p class="text-center"><%= f.submit "確認画面へ進む", class: "btn btn-primary" %></p>
    </div>
　</div>
　<% end %>
</div>
