<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8 px-sm-0">
      <h5 class="mt-4 mb-3 ml-4"><span class="px-4 title">注文情報入力</span></h5>
    </div>
  </div>
  <%= form_with model: @order, local:true do |f| %>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-10 px-sm-0">
      <h5>支払方法</h5>
      <%= f.radio_button :payment_method, "credit_card", class: "ml-4" %>
      <%= f.label :payment_method, "クレジットカード", class: "mb-0" %></br>
      <%= f.radio_button :payment_method, "transfer", class: "ml-4" %>
      <%= f.label :payment_method, "銀行振込", class: "mb-0" %>
　　　<h5>お届け先</h5>
      <%= f.hidden_field :customer_id, value: @customer.id %>
      <%= f.radio_button :customer_id, @customer.id, class: "ml-4" %>
      <%= f.label :customer_id, "ご自身の住所", class: "mb-0" %>
      <p class="ml-5">〒<%= @customer.postal_code %> <%= @customer.address %></p>
      <p class="ml-5"><%= @customer.full_name %></p>
      <%= f.radio_button :address_id, @address.id, class: "ml-4" %>
      <%= f.label :address_id, "登録済みの住所から選択", class: "mb-0" %>
　　　<%= f.select :address_id, options_from_collection_for_select(Addresse.all, :id, :full_address) %>
　　</div>
　</div>
　<% end %>